<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <title>Disclaimer</title>
    <link rel='stylesheet' type='text/css' href='../styles/disclaimer-style.css'/>
  </head>

  <body>
    <header>
      <nav>
        <div class='navigation'>
          <ul id='header-bar'>
            <a href='../index.html' style='text-decoration: none'><li id='logo'>hiv medfinder</li></a>
          </ul>
        </div>
      </nav>
    </header>

    <div class='container'>
      <div class='heading'>
        Disclaimer
      </div>
      <div class='body-text'>
        <p>
          The contents of this website are to be used for informational purposes only, and are not to be interpreted or construed as medical advice, nor are they presented as an alternative to professional medical advice, diagnosis, or treatment.
        </p>
        <p>
          HIV is a serious medical condition which requires diagnosis and treatment by a medical professional. Each case is individual, and the information presented here may not be accurate or approriate for all patients. This website is intended to supplement patients' understanding of medication which has already been discussed and prescribed by a medical doctor. Furthermore, while great care has been taken in compiling this information, no claims or warrants are made regarding the accuracy of materials presented on this website. Do not alter your medication regimine without consulting your doctor.
        </p>
      </div>

    </div>

    <div class='footer'>
      <!-- disclaimer here -->
    </div>
  </body>
</html>
